<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/employeeregister"
            >Register New Employee</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeelist">Employees List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeesearch"
            >Search Employee By id</a
          >
        </li>
      </ul>
    </div>
  </nav>
  